{% extends 'storageapp/base_files.html' %}

{% block in_files %}

{% load static %}
<link rel="stylesheet" href="{% static 'storageapp/style.css' %}">

<form action="{% url 'storageapp:files_list' %}" method="get">
    {% for type in all_files_types %}
        {% if type in files_types_enabled %}
            <input type="checkbox" name="filter_type" value="{{ type }}" checked>{{ type.capitalize }}
        {% else %}
            <input type="checkbox" name="filter_type" value="{{ type }}">{{ type.capitalize }}
        {% endif %}
    {% endfor %}
    <br>
    <label for="category">Select a category to sort:</label>
    <select name="category" id="category">
        {% for num, field in file_fields.items %}
            {% if num == 4 %}
                <option value="{{ num }}" selected>{{ field }}</option>
            {% else %}
                <option value="{{ num }}">{{ field }}</option>
            {% endif %}
        {% endfor %}
    </select>

    {% if '-' in files_types_enabled %}
        <input type="checkbox" name="filter_type" value="-" checked>Reverse
    {% else %}
        <input type="checkbox" name="filter_type" value="-">Reverse
    {% endif %}

    <div>
        <button type="submit" class="upper-buttons">Submit filters and sort category</button>
    </div>
</form>
<div>
    <span>{{ message }}</span>
</div>
<div>
    {% for file in files_list %}
    <div class="file-row">
        <div class="file-name-container" title="{{ file.file_name }}">
            <img src="{{ file.file_type.img.url }}" alt="File Type IMG">
            <span class="file-name">{{ file.file_name }}</span>
        </div>
        <div class="button-container">
            <form method="post" action="{% url 'storageapp:download_file' file_id=file.id %}">
                {% csrf_token %}
                <button type="submit" class="download-button">Download</button>
            </form>
            <form method="post" action="{% url 'storageapp:delete_file_warning' file_id=file.id %}">
                {% csrf_token %}
                <button type="submit" class="delete-button">Delete file</button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}