{% extends 'storageapp/base_files.html' %}

{% block in_files %}
{{ filter_type }}
<form action="{% url 'storageapp:files_list' %}" method="get">
    {% for type in all_files_types %}
    {% if type in files_types_enabled %}
    <input type="checkbox" name="filter_type" value="{{ type }}" checked>{{ type.capitalize }}
    {% else %}
    <input type="checkbox" name="filter_type" value="{{ type }}">{{ type.capitalize }}
    {% endif %}
    {% endfor %}
    <br>
    <label for="category">Select a category to sort:</label>
    <select name="category" id="category">
        {% for num, field in file_fields.items %}
        {% if num == 1 %}
        <option value="{{ num }}" selected>{{ field }}</option>
        {% else %}
        <option value="{{ num }}">{{ field }}</option>
        {% endif %}
        {% endfor %}
    </select>
    {% if '-' in files_types_enabled %}
    <input type="checkbox" name="filter_type" value="-" checked>Reverse
    {% else %}
    <input type="checkbox" name="filter_type" value="-">Reverse
    {% endif %}
    <div>
        <button type="submit">Submit filters and sort category</button>
    </div>
</form>
<div>
    {% for file in files_list %}
    <div>{{ file.file_name }}</div>
    <form method="post" action="{% url 'storageapp:delete_file_warning' file_id=file.id %}">
        {% csrf_token %}
        <button type="submit">Delete file</button>
    </form>
    <form method="post" action="{% url 'storageapp:download_file' file_id=file.id %}">
        {% csrf_token %}
        <button type="submit">Download</button>
    </form>
    <br>
    {% endfor %}
</div>

{% endblock %}