{% extends "newsapp/base.html" %}
{% load extract_tags %}
{% block content %}

<div class="container border my-2">
    <form class="d-flex my-1" method="get">
        <div class="col-6 mx-2">
            {{ NoteSearchForm.as_p }}
            <input type="text" class="form-control" id="id_keyword" name="keyword" value="{{ request.GET.keyword }}">
        </div>
        <div>
            <button class="btn btn-success" type="submit" >Search</button>
        </div>
    </form>
</div>

<!--Блок виводу нотаток-->
{% for note in notes %}
 <div class="container">
    <div class="form-control d-flex flex-row">
        {%if not note.done%}
        <div class="flex-fill">
            <a class="nav-link" href="{% url 'noteapp:detail' note.id %}">Article: {{note.name}},</a>
            <a class="nav-link" href="{% url 'noteapp:detail' note.id %}">Note: {{note.description}}</a>
            <a class="nav-link" href="{% url 'noteapp:detail' note.id %}">Tags: {{ note.tags|tags }}</a>
        </div>
        <div class="d-flex align-items-center">
            <a class="btn btn-success mx-2" href="{% url 'noteapp:set_done' note.id %}" role="button">Mark Done</a>
            <a class="btn btn-danger mx-2" href="{% url 'noteapp:delete' note.id %}" role="button" >Delete note</a>
        </div>
        {% else %}
        <div class="flex-fill">
            <a class="nav-link" href="{% url 'noteapp:detail' note.id %}">"article:"<s>{{note.name}}</s></a>
        </div>
        <div class="d-flex align-items-center">
            <a class="btn btn-warning align-items-center" href="{% url 'noteapp:set_active' note.id %}" role="button">Mark Active</a>
            <a class="btn btn-danger mx-2" href="{% url 'noteapp:delete' note.id %}" role="button">Delete note</a>
        </div>
        {% endif %}
    </div>
</div>

{% endfor %}

{% endblock %}
