{% extends "newsapp/base.html" %}

{% block content %}

<div class="container me-2 pe-3">
    <div style="container me-2">
    <h3 class="text-center">Profile page: {{user.username}}</h3>
    <img src="{{ user.profile.avatar.url }}" alt="avatar of user"/>
    </div>
</div>

{% if messages %}
<div style="container me-2">
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<form class="container mt-2" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-label">
        <div class="row col-12">
            <div>
                <label class="form-label">Change Avatar:</label>
                    <div class="row col-4" >  {{ profile_form.avatar }} </div>
                <span>{{ profile_form.errors.avatar }}</span>
            </div>
        </div>
    </div>
    <div class="grid mt-2">
        <button class="btn btn-success mx-3" type="submit">Save Changes</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </div>

</form>

{% endblock content %}
