{% extends "newsapp/base.html" %}

{% block content %}

{% if messages %}
<div class="container me-2 pe-3">
    {% for message in messages %}
    <div {% if message.tags %} class="alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
    {% endfor %}
</div>
{% endif %}

<div class="container me-2 pe-3">
    <h3>Sign Up</h3>
</div>

<form class="container mt-2" method="post" action="{% url 'users:signup' %}">
    {% csrf_token %}
    <div style="container me-2">
        <label class="form-label"> Username: </label>
        <div class="row col-4"> {{ form.username }} </div>
        <span>{{ form.errors.username }}</span>
    </div>

    <div style="container me-2">
        <label class="form-label"> First Name:</label>
        <div class="row col-4"> {{ form.first_name }} </div>
        <span>{{ form.errors.first_name }}</span>
    </div>
    <div style="container me-2">
        <label class="form-label"> Last Name: </label>
        <div class="row col-4"> {{ form.last_name }} </div>
        <span>{{ form.errors.last_name }}</span>
    </div>
    <div style="container me-2">
        <label class="form-label"> Email: </label>
        <div class="row col-4"> {{ form.email }} </div>
        <span>{{ form.errors.email }}</span>
    </div>
    <div  style="container me-2">
        <label class="form-label"> Password: </label>
        <div class="row col-4"> {{ form.password1 }} </div>
        <span>{{ form.errors.password1 }}</span>
    </div>
    <div  style="container me-2">
        <label class="form-label"> Password confirmation: </label>
        <div class="row col-4">  {{ form.password2 }} </div>
        <span>{{ form.errors.password2 }}</span>
    </div>
    <div class="grid mt-2">
        <button class="btn btn-success mx-3" type="submit">Submit</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </div>
</form>

{% endblock %}
