{% extends "noteapp/base.html" %}
{% load extract_tags %}

{% block content %}
<div class="container">
    <div class="fs-5 my-2">Article:</div>
    <div class="mx-3">{{note.name}}</div>
    <div class="fs-5 my-2">Description:
        <div class="fs-6 container d-flex">{{note.description}}</div>
    </div>
    <div class="fs-5 my-2">Time of creation:
        <span class="fs-6 border border-secondary-subtle px-3 rounded-3">
        {{note.created}}
        </span>
    </div>
    {% if note.done %}
    <div class="fs-5 my-2">Status:
        <span class=" fs-6 text-success-emphasis bg-success-subtle border border-success-subtle px-3 rounded-3">
        Completed
        </span>
    </div>
    {% else %}
    <div class="fs-5 my-2">Status:
        <span class="fs-6 text-warning-emphasis bg-warning-subtle border border-warning-subtle px-3 rounded-3">
            Not implemented
        </span>
    </div>
    {% endif %}

    <div class="fs-5 my-2">Tags: <small> {{ note.tags|tags }} </small></div>
    <a class="btn btn-danger mx-1" href="{% url 'noteapp:delete' note.id %}" role="button">
        Delete note
    </a>
    <a class="btn btn-warning mx-1" href="{% url 'noteapp:update_note' note_id=note.id %}" role="button">
        Update Note
    </a>
</div>


{% endblock %}