{% extends "newsapp/base.html" %}
{% load extract_tags %}
{% block content %}

<main class="container d-flex flex-column min-vh-100">
    <nav class="navbar-nav navbar-expand-lg bg-body-tertiary me-auto mt-2 mb-20 pl-30 pb-3">
        <!--Поведінка авторизованого та ні користувача-->
        {% if user.is_authenticated %}
        <div class="collapse navbar-collapse border">
                <div class="container-fluid align-items-center">
                <ul class="navbar-nav me-auto bg-body-tertiary">
                    <li class="nav-item my-2 mx-2"><a class="nav-link" href="{% url 'noteapp:note' %}" role="button">Add note</a></li>
                    <li class="nav-item my-2 mx-2"><a class="nav-link" href="{% url 'noteapp:tag' %}" role="button">Add tag</a></li>
                    <li class="nav-item my-2 mx-2"><a class="nav-link" href="{% url 'noteapp:search' %}" role="button">Search</a></li>
                    <li>
                        <!--Блок фільтраціії за тегом-->
                        <form class="form-control d-flex flex-row my-1" method="GET" action="">
                            <label class="form-label mt-1" for="tag">Tag:</label>
                            <select class="form-select mx-3"  name="tag" id="tag">
                                <option value="">All</option>
                                    {% for tag in tags %}
                                        {% if tag.user == user %}
                                    <option value="{{ tag.name }}" {% if tag.name == tag %} selected {% endif %}>{{ tag.name }}
                                        {% endif %}
                                </option>
                                {% endfor %}
                            </select>
                            <input class="btn btn-secondary mx-3" type="submit" value="Filter">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
        {% endif %}
    </nav>

    <!--Блок топ-5 тегів-->
    <div class="container mb-1"
        <h3>Top 5 yours tags</h3>
        <div class="form-control d-flex flex-row">
            {% for tag in tags|toptags %}
            {% if tag.user == user %}
               <div class="flex-fill">
                  <div class="card my-2 mx-2">
                      <div class="card-body">
                         <h5 class="card-title">{{ tag.name }}</h5>
                         <p class="card-text">{{ tag.note_set.count }} notes</p>
                      </div>
                  </div>
               </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>


    {% for note in page_obj %}
    <div class="container mb-1">
        <!--Блок виводу нотаток-->
        <div class="form-control d-flex flex-row">
            {%if not note.done%}
            <div class="flex-fill">
                <a class="nav-link" href="{% url 'noteapp:detail' note.id %}"><strong>Article: </strong>{{note.name}},</a>
                <a class="nav-link" href="{% url 'noteapp:detail' note.id %}"><strong>Note: </strong>{{note.description}}</a>
                <a class="nav-link" href="{% url 'noteapp:detail' note.id %}"><strong>Tags: </strong>Tags: {{ note.tags|tags }}</a>
            </div>
            <div class="d-flex align-items-center">
                <a class="btn btn-success mx-2" href="{% url 'noteapp:set_done' note.id %}" role="button">Mark Done</a>
                <a class="btn btn-danger mx-2" href="{% url 'noteapp:delete' note.id %}" role="button" >Delete note</a>
            </div>
            {% else %}
            <div class="flex-fill">
                <a class="nav-link" href="{% url 'noteapp:detail' note.id %}">"article:"<s>{{note.name}}</s></a>
            </div>
            <div class="d-flex align-items-center">
                <a class="btn btn-warning align-items-center" href="{% url 'noteapp:set_active' note.id %}" role="button">Mark Active</a>
                <a class="btn btn-danger mx-2" href="{% url 'noteapp:delete' note.id %}" role="button">Delete note</a>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</main>

<!--Блок навігації по пагінації-->
<nav class="nav justify-content-center mt-2" >
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link text-dark-emphasis border border-dark-subtle rounded-left-3" href="?page=1">First</a>
        </li>
        <li class="page-item">
            <a class="page-link text-dark-emphasis border border-dark-subtle rounded-left-3" href="?page={{ page_obj.previous_page_number }}">
                Previous
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active" aria-current="page">
                <span class="page-link text-dark-emphasis bg-secondary-subtle border border-dark-subtle rounded-left-3">
                    {{ num }}
                </span>
                </li>
            {% else %}
                <li class="page-item">
                    <a class="page-link text-dark-emphasis border border-dark-subtle rounded-left-3" href="?page={{ num }}">
                        {{ num }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link text-dark-emphasis border border-dark-subtle rounded-left-3" href="?page={{ page_obj.next_page_number }}">
                    Next
                </a>
            </li>
            <li class="page-item">
                <a class="page-link text-dark-emphasis border border-dark-subtle rounded-left-3" href="?page={{ page_obj.paginator.num_pages }}">
                    Last
                </a>
            </li>
        {% endif %}
    </ul>
</nav>

{% endblock %}
