{% extends "noteapp/base.html" %}

{% block content %}
<div class="container me-2 pe-3">
   <form class="container mt-2" method="POST" action="{% url 'noteapp:note' %}">
    {% csrf_token %}
    <div style="container me-2">
        <label class="form-label"> Note article:</label>
        <div class="row col-4">{{form.name}}</div>
        <span>{{form.errors.name}}</span>
    </div>
    <div style="container me-2">
        <label class="form-label"> Note description:</label>
            <div class="row col-4" >{{form.description}}</div>
            <span>{{form.errors.description}}</span>
    </div>
    <div style="container me-2">
        <label class="form-label"> Select tags:</label>
        <div class="row col-4">
            <select class="form-select-secondary form-select-indicator-color-gray-800" multiple name="tags">
                {% for tag in tags %}
                <option value="{{tag.name}}">{{tag.name}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="grid mt-2">
        <a class="btn btn-secondary" href="{% url 'noteapp:tag' %}" role="button">New Tag</a>
        <button class="btn btn-success mx-3" type="submit">Submit</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </div>
</form>
</div>
{% endblock %}
