{% extends "noteapp/base.html" %}

{% block content %}

<form class="form-control d-flex flex-row my-1" method="POST" action="{% url 'noteapp:tag' %}">
    {% csrf_token %}
    <div >
        <label class="form-label my-2 px-3 align-items-center" for = "id_name">Enter the tag name: </label>
        {{form.name}}
        <span>{{form.errors.name}}</span>
    </div>
    <div class="grid">
        <button class="btn btn-success mx-3" type="submit">Submit</button>
        <button class="btn btn-danger" type="reset">Reset</button>
    </div>
</form>

{% endblock %}