.file-container {
    display: flex;
    width: 200px;
    margin: 10px;
    text-align: center;
    margin-bottom: 10px;
    justify-content: space-between;
}
.file-container img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-bottom: 10px;
}

.upper-buttons {
    margin-top: 3px;
    color: #D4D0B7;
    display: inline-block;
    padding: 8px 20px 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
    text-align: center;
    text-decoration: none;
    position: relative;
    background: #2A2F35;
}

.download-button {
    margin-top: 3px;
    color: #D4D0B7;
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
    text-align: center;
    text-decoration: none;
    position: relative;
    background: green;
    margin-left: 10px;

}

.delete-button {
    margin-top: 3px;
    color: #D4D0B7;
    display: inline-block;
    width: 100px;
    height: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
    text-align: center;
    text-decoration: none;
    position: relative;
    background: red;
    margin-left: 10px;
}

.file-name {
  width: 1000;

}

.file-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.file-name-container {
  display: flex;
  align-items: center;
}

.file-name-container img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.button-container {
  display: flex;
}

