{% extends "newsapp/base.html" %}

{% block content %}
    <h2>Contacts</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Birth Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for contact in contacts %}
                <tr>
                    <td>{{ contact.name }}</td>
                    <td>{{ contact.address }}</td>
                    <td>{{ contact.phone_number }}</td>
                    <td>{{ contact.email }}</td>
                    <td>{{ contact.birth_date }}</td>
                    <td>
                        <a href="{% url 'contactapp:edit_contact' contact.id %}">Edit</a>
                        <a href="{% url 'contactapp:delete_contact' contact.id %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
        {% if contacts.has_previous %}
            <a href="?page={{ contacts.previous_page_number }}">Previous</a>
        {% endif %}
        <span class="current-page">{{ contacts.number }}</span>
        {% if contacts.has_next %}
            <a href="?page={{ contacts.next_page_number }}">Next</a>
        {% endif %}
    </div>
{% endblock %}
