<head>
    <title>Search Contacts</title>
</head>
<body>
    <h1>Search Contacts</h1>

    <form method="GET" action="{% url 'search_contacts' %}">
     <input type="text" name="search_query" placeholder="Search contacts" value="{{ search_query }}">
        <button type="submit">Search</button>
    </form>

    <h2>Search Results</h2>

    {% if search_results %}
        <ul>
        {% for contact in search_results %}
            <li>
            <strong>Name:</strong> {{ contact.name }}<br>
            <strong>Address:</strong> {{ contact.address }}<br>
            <strong>Phone Number:</strong> {{ contact.phone_number }}<br>
            <strong>Email:</strong> {{ contact.email }}<br>
            <strong>Birth Date:</strong> {{ contact.birth_date }}<br>
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No contacts found.</p>
    {% endif %}
</body>
