{% extends "newsapp/base.html" %}

{% block content %}
<div class="container my-2">
    <form class="d-flex my-1" method="GET" action="{% url 'contactapp:search_contacts' %}">
        <input class="col-6 mx-2" type="text" name="search_query"
               placeholder="Search by name, address, phone number, email, or birth date">
        <button class="btn btn-success" type="submit">Search</button>
    </form>
</div>
<div class="container my-2">
    {% if search_query %}
    <h4 class="text-center">Search Results for "{{ search_query }}"</h4>
        {% if search_results %}
        <div class="container my-2">
            {% for contact in search_results %}
            <div class="form-control d-flex flex-row mb-1">
                <div class="flex-fill">
                    <strong>Name:</strong> {{ contact.name }}<br>
                    <strong>Address:</strong> {{ contact.address }}<br>
                    <strong>Phone Number:</strong> {{ contact.phone_number }}<br>
                    <strong>Email:</strong> {{ contact.email }}<br>
                    <strong>Birth Date:</strong> {{ contact.birth_date }}<br>
                </div>
                <div class="d-flex align-items-center">
                    <a class="btn btn-warning mx-2" href="{% url 'contactapp:edit_contact' contact.id %}">Edit Contact</a>
                    <a class="btn btn-danger mx-2" href="{% url 'contactapp:delete_contact' contact.id %}">Delete</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="pt-10 text-center fs-4"><u>No contacts found.</u></div>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

