{% extends "newsapp/base.html" %}

{% block content %}
  <h1>Upcoming Birthdays</h1>
  <form method="POST" action="{% url 'contactapp:upcoming_birthdays' %}">
    {% csrf_token %}
    <label for="days">Number of days:</label>
    <input type="number" name="days" id="days">
    <button type="submit">Search</button>
  </form>

  <h2>Contacts with Upcoming Birthdays:</h2>
  {% if contacts %}
    <ul>
      {% for contact in contacts %}
        <li>{{ contact.name }} - {{ contact.birth_date }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No contacts with upcoming birthdays.</p>
  {% endif %}
{% endblock %}
